<div class="container mt-4">
  <div class="card">    
    <div class="card-body">
 
      <h5 class="card-title">Controle de Empresas</h5>
      <p class="card-text">Projeto FrontEnd Angular integrado com API REST .NET</p>
 
      <div class="mb-2">
        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalCadastro">
          Cadastrar Empresa
        </button>
      </div>
 
      <!-- mensagem de exclusão -->
      <div *ngIf="mensagem_exclusao" class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>{{mensagem_exclusao}}</strong>
        <button type="button" class="btn-close" aria-label="Close"
                (click)="mensagem_exclusao = ''"></button>
      </div>
 
      <div class="table-responsive mb-2">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Nome fantasia</th>
              <th>Razão social</th>
              <th>CNPJ</th>
              <th>Data/Hora de cadastro</th>
              <th>Operações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of empresas">
              <td>{{e.nomeFantasia | uppercase}}</td>
              <td>{{e.razaoSocial}}</td>
              <td>{{e.cnpj}}</td>
              <td>{{e.dataHoraCadastro | date : 'dd/MM/yyyy HH:mm'}}</td>
              <td>
                <button class="btn btn-sm btn-primary"
                  data-bs-toggle="modal" data-bs-target="#modalEdicao"
                  (click)="obterEmpresa(e.idEmpresa)">
                  Editar
                </button>
                &nbsp;
                <button class="btn btn-sm btn-danger"
                  (click)="excluirEmpresa(e.idEmpresa)">
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                Quantidade de empresas: {{empresas.length}}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
 
    </div>
  </div>
</div>
 
<!-- Modal para cadastro de empresas -->
<div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de Empresas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
 
        <!-- mensagem de cadastro -->
        <div *ngIf="mensagem_cadastro" class="alert alert-secondary alert-dismissible fade show" role="alert">
          <strong>{{mensagem_cadastro}}</strong>
          <button type="button" class="btn-close" aria-label="Close"
                  (click)="mensagem_cadastro = ''"></button>
        </div>
       
        <form [formGroup]="formCadastro" (ngSubmit)="cadastrarEmpresa()">
 
          <div class="mb-3">
            <label>Nome fantasia:</label>
            <input type="text" class="form-control" placeholder="Digite aqui"
              formControlName="nomeFantasia"/>
            <div class="text-danger" *ngIf="form_cadastro.nomeFantasia.touched && form_cadastro.nomeFantasia.invalid">
              <span *ngIf="form_cadastro.nomeFantasia.errors.required">
                Por favor, informe o nome fantasia da empresa.
              </span>
              <span *ngIf="form_cadastro.nomeFantasia.errors.minlength">
                Por favor, informe no mínimo 6 caracteres.
              </span>
              <span *ngIf="form_cadastro.nomeFantasia.errors.maxlength">
                Por favor, informe no máximo 150 caracteres.
              </span>
            </div>
          </div>
 
          <div class="mb-3">
            <label>Razão Social:</label>
            <input type="text" class="form-control" placeholder="Digite aqui"
              formControlName="razaoSocial"/>
            <div class="text-danger" *ngIf="form_cadastro.razaoSocial.touched && form_cadastro.razaoSocial.invalid">
                <span *ngIf="form_cadastro.razaoSocial.errors.required">
                  Por favor, informe a razão social da empresa.
                </span>
                <span *ngIf="form_cadastro.razaoSocial.errors.minlength">
                  Por favor, informe no mínimo 6 caracteres.
                </span>
                <span *ngIf="form_cadastro.razaoSocial.errors.maxlength">
                  Por favor, informe no máximo 150 caracteres.
                </span>
            </div>
          </div>
 
          <div class="mb-3">
            <label>CNPJ:</label>
            <input type="text" class="form-control" placeholder="Digite aqui"
              formControlName="cnpj"/>
            <div class="text-danger" *ngIf="form_cadastro.cnpj.touched && form_cadastro.cnpj.invalid">
                <span *ngIf="form_cadastro.cnpj.errors.required">
                  Por favor, informe o CNPJ da empresa.
                </span>
            </div>
          </div>
 
          <div class="mb-3 d-grid">
            <input type="submit" class="btn btn-primary" value="Realizar Cadastro"
              [disabled]="!formCadastro.valid"/>
          </div>
 
        </form>
 
      </div>
    </div>
  </div>
</div>
 
<!-- Modal para edição de empresas -->
<div class="modal fade" id="modalEdicao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de Empresa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
 
        <!-- mensagem de edição -->
        <div *ngIf="mensagem_edicao" class="alert alert-secondary alert-dismissible fade show" role="alert">
          <strong>{{mensagem_edicao}}</strong>
          <button type="button" class="btn-close" aria-label="Close"
                  (click)="mensagem_edicao = ''"></button>
        </div>
       
        <form [formGroup]="formEdicao" (ngSubmit)="atualizarEmpresa()">
 
          <!-- campo oculto -->
          <input type="hidden" formControlName="idEmpresa"/>
 
          <div class="mb-3">
            <label>Nome fantasia:</label>
            <input type="text" class="form-control" placeholder="Digite aqui"
              formControlName="nomeFantasia"/>
              <div class="text-danger" *ngIf="form_edicao.nomeFantasia.touched && form_edicao.nomeFantasia.invalid">
                <span *ngIf="form_edicao.nomeFantasia.errors.required">
                  Por favor, informe o nome fantasia da empresa.
                </span>
                <span *ngIf="form_edicao.nomeFantasia.errors.minlength">
                  Por favor, informe no mínimo 6 caracteres.
                </span>
                <span *ngIf="form_edicao.nomeFantasia.errors.maxlength">
                  Por favor, informe no máximo 150 caracteres.
                </span>
              </div>
          </div>
 
          <div class="mb-3 d-grid">
            <input type="submit" class="btn btn-primary" value="Salvar Alterações"
              [disabled]="!formEdicao.valid"/>
          </div>
 
        </form>
 
      </div>
    </div>
  </div>
</div>


